@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk.ttf") format("truetype"),
        url("../fonts/SpaceGrotesk.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk.ttf") format("truetype"),
        url("../fonts/SpaceGrotesk.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk.ttf") format("truetype"),
        url("../fonts/SpaceGrotesk.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../fonts/SpaceGrotesk.ttf") format("truetype"),
        url("../fonts/SpaceGrotesk.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Sequel100Black-85";
    src: url("../fonts/Sequel100Black-85.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #000;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    font-family: "Sequel100Black-85", sans-serif;
    font-size: 4em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;

}

h6 {
    color: #fff;
    font-family: 'Space Grotesk', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 0.875em;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on, 'ss04'on, 'case'on, 'zero'on, 'liga'off;
}

.content {
    position: fixed;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
